<launch>
  <param name="/use_sim_time" value="true"/>	
  
  <arg name="map" default="$(find ira_open_street_map)/maps/kitti_06.osm" />
  <arg name="rviz" default="$(find road_layout_estimation)/rviz/visual_odometry_kitti_viso.rviz" />
 
 	<!-- Local map transform-->
	<node pkg="tf" type="static_transform_publisher" name="local_map_tf" 
			args="455958.5 5433577.4 0 0.5 0 0 map local_map 200" /> 
			
	<!-- KITTI_06  
	<arg name="lat" default="49.05349304789598" />
	<arg name="lon" default="8.39721998765449" />-->

	<!-- start osm query node -->
	<node 
		pkg="ira_open_street_map" 
		type="osm_query_node" 
		name="osm_query_node" 
		output="screen" 		
		args="$(arg map)" 
	/> 
	 
	<!-- Launch RViz-->
	<node pkg="rviz" type="rviz" name="rviz" respawn="true"
		args="-d $(arg rviz)"
		output="screen"
	/>

</launch>
